<template id="layout-main">
	<!--page styles-->
	<style></style>
	<!--page content-->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sitemap-navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/home">SITEMAP</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="sitemap-navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/home">Home</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<!-- 
		LOAD TEMPLATE FROM SITEMAP
		MUST BE PRESENT ON ALL LAYOUTS
	-->
	<section id="init-page" class="load-template"></section>
	<!--page templates-->
	<!--page scipts-->
    <script></script>
</template>